
.container-login {
    position: relative;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    left: 30%;
    right: 60%;
    align-items: center;
}

.form-box-login  {
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-box-login  h2 {
    font-size: 200px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.input-group-login {
    margin-bottom: 20px;
}

.input-group-login label {
    display: block;
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

.input-group-login input[type="text"],
.input-group-login input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px 45%;
    position: relative;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button [type="submit"]:hover {
    background-color: #ffffff;
}
.input-group-login  {
    margin-bottom: 15px;
}

.input-group-login  label {
    display: block;
    margin-bottom: 5px;
}

.input-group-login  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message-login  {
    color: #ff0000;
    margin-top: 5px;
    font-size: 20px;
}
