//menu
<div class="sub-menu js-subMenu">
    <ul class="level-1">
        <li id="527">
            <a href="/inicio" class="is-active">Alojamentos</a>
        </li>
        <li id="444">
            <a id="Filter_bot" class="">Filerar</a>
        </li>
        <li id="543">
            <a  class="">Login</a>
        </li>
        <li id="545">
            <a  class="">Sobre</a>
        </li>
    </ul>
</div>
//filter
<section class="module module--list" id="Filter" style="display: none;">
    <h2 class="divider gradient">Filtrar</h2>
    <div class="container_range_preco">
        <label class="label" style="margin-right: 70px">preco:</label>
        <div class="values">
                     <span id="range_min_preco">
                     0
                     </span>
            <span> &dash; </span>
            <span id="range_max_preco">
                     100
                     </span>
        </div>
        <div class="container">
            <div class="slider-track-prco"></div>
            <input type="range" min="0" max="1000" value="100" id="slider_min_preco" oninput="slideOne()">
            <input type="range" min="0" max="1000" value="500" id="slider_max_preco" oninput="slideTwo()">
        </div>
    </div>
    <div class="container_range_preco">
        <label class="label">Destancia:</label>
        <div class="values">
                     <span id="range_min_dis">
                     0
                     </span>
            <span> &dash; </span>
            <span id="range_max_dis">
                     100
                     </span>
        </div>
        <div class="container">
            <div class="slider-track-Dis"></div>
            <input type="range" min="0" max="1000" value="100" id="slider_min_dis" oninput="slideTr()">
            <input type="range" min="0" max="1000" value="500" id="slider_max_dis" oninput="slideFr()">
        </div>
    </div>
    <div class="container_range_preco">
        <label class="label">Nº Quartos:</label>
        <div class="container_mais_menos">
            <div class="button col col-1">
                <button id="minus-btn">-</button>
            </div>
            <div class="number col col-2">
                <h1 id="count">0</h1>
            </div>
            <div class="button col col-1">
                <button id="plus-btn">+</button>
            </div>
        </div>
    </div>
    <div class="container_range_preco">
        <label class="label">Sexso:</label>
        <label class="toggle">
            <span class="toggle-label">Masculino</span>
            <input class="toggle-checkbox" type="checkbox">
            <div class="toggle-switch"></div>
        </label>
        <label class="toggle">
            <span class="toggle-label">Feminino</span>
            <input class="toggle-checkbox" type="checkbox">
            <div class="toggle-switch"></div>
        </label>
        <label class="toggle">
            <span class="toggle-label">Misto</span>
            <input class="toggle-checkbox" type="checkbox">
            <div class="toggle-switch"></div>
        </label>
    </div>
    <div class="container_range_preco">
        <label class="label">Com Recibo:</label>
        <label class="toggle">
            <input class="toggle-checkbox" type="checkbox">
            <div class="toggle-switch"></div>
        </label>
    </div>
    <div class="container_botao_sub">
        <button class="botao_sub_aplic" id="button_aplic_filter">Aplicar</button>
    </div>
    <section class="module module--list" id="Filter_aplicado" style="display: none;">
        <h2 class="divider gradient">Filtered</h2>
    </section>
</section>
//card

<section class="module module-card-list" id="prencipal">
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-box" placeholder="Search...">
            <button id="search-button">Search</button>
        </div>
    </div>
    <h2 class="divider gradient">As ofertas</h2>
    <div class="container">
        <div class="card" id="card1">
            <div class="card-front">
                <div class="card-image" ><img class="card-image" src="\test_photo\img1.jpg"></div>
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>Post One</h2>
                    <p>Lorem ipsum dolor sit demoise amet consectetur, Ducimusele, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                    <button class="botao_mais">Mais</button>
                </div>
            </div>
            <div class="card-back">
                <div class="card-back-text">
                    <p>Telefone: 123-456-7890</p>
                    <p>Descrição: 123 Street, City, Country</p>
                    <p>Endereço: 123 Street, City, Country</p>
                    <p>Destancia: 123 Street, City, Country</p>
                    <p>Sexso: 123 Street, City, Country</p>
                    <p>Equipamentos</p>
                    <p>Wifi:</p>
                    <p>Elvador:</p>
                    <p>Recibo:</p>
                    <button class="botao_menos">Menos</button>
                </div>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="card-front">
                <div class="card-image" ><img class="card-image" src="\test_photo\img2.jpg"></div>
                <div class="card-text">
                    <span class="date">1 week ago</span>
                    <h2>Post Two</h2>
                    <p>Adipisicing elit. Ducimus, repudiandae corrupti tialeno des ameto temporibus omnis provident illum maxime quod. Lorem ipsum dolor</p>
                    <button class="botao_mais">Mais</button>
                </div>
            </div>
            <div class="card-back">
                <div class="card-back-text">
                    <p>Telefone: 123-456-7890</p>
                    <p>Descrição: 123 Street, City, Country</p>
                    <p>Endereço: 123 Street, City, Country</p>
                    <p>Destancia: 123 Street, City, Country</p>
                    <p>Sexso: 123 Street, City, Country</p>
                    <p>Equipamentos</p>
                    <p>Wifi:</p>
                    <p>Elvador:</p>
                    <p>Recibo:</p>
                    <button class="botao_menos">Menos</button>
                </div>
            </div>
        </div>
        <div class="card" id="card3">
            <div class="card-image" ><img class="card-image" src="\test_photo\img3.jpg"></div>
            <div class="card-text">
                <span class="date">3 week ago</span>
                <h2>Post Three</h2>
                <p>Repudiandae repudiandae de corrupti amet temporibus omnis si provident illum maxime. Ducimus, lorem ipsum dolor adipisicing elit</p>
            </div>
        </div>
        <div class="card" id="card4">
            <div class="card-image"><img class="card-image" src="\test_photo\img4.jpg"></div>
            <div class="card-text">
                <span class="date">3 week ago</span>
                <h2>Post Three</h2>
                <p>Repudiandae repudiandae de corrupti amet temporibus omnis si provident illum maxime. Ducimus, lorem ipsum dolor adipisicing elit</p>
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <span class="prev" onclick="plusSlides(-1)">&#10094;</span>
            <span class="next" onclick="plusSlides(1)">&#10095;</span>
            <div class="modal-content">
                <img id="modalImage" src="" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="helper-pagination">
            <ul class="page-numbers">
                <li><span aria-current="page" class="page-numbers current">1</span></li>
                <li><a class="page-numbers" href="https://www.estgoh.ipc.pt/category/sem-categoria/page/2/">2</a></li>
                <li><a class="page-numbers" href="https://www.estgoh.ipc.pt/category/sem-categoria/page/3/">3</a></li>
                <li><span class="page-numbers dots">…</span></li>
                <li><a class="page-numbers" href="https://www.estgoh.ipc.pt/category/sem-categoria/page/5/">5</a></li>
                <li><a class="next page-numbers" href="https://www.estgoh.ipc.pt/category/sem-categoria/page/2/">Next</a></li>
            </ul>
        </div>
    </div>
</section>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_Login/styles.css">
    <title>Login</title>
</head>
<body>
<div class="container">

    <div class="form-box">
        <img src="https://comum.rcaap.pt/retrieve/104938">
        <form action="#">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" required>
            </div>
            <button type="submit">Login</button>

        </form>
    </div>
</div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_Login/styles.css">
    <title>Register</title>
</head>
<body>
<div class="container">

    <div class="form-box">
        <img src="https://comum.rcaap.pt/retrieve/104938">
        <form action="#" id="registrationForm">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" required>
            </div>
            <div class="input-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" required>
            </div>
            <div class="input-group">
                <label for="Re-password">Re-password</label>
                <input type="password" id="Re-password" required>
            </div>
            <button type="submit">Login</button>

        </form>
    </div>
</div>
<script src="/Js_Register/js.js"></script>
</body>
</html>

importante
<i class="fa fa-inverse">Muaiad Hadad</i>
